/* appear - on page load */
@keyframes load_in {
  from {
    transform: translate3d(-100%)
  }
  to {
    transform: translate3d(0%)
  }
}

@keyframes exit {
  from {
    transform: translate3d(0%)
  }
  to {
    transform: translate3d(-100%)
  }
}
.transition-appear {
  opacity: 0;
  background: #fff;
  z-index: 1;
  transition: opacity 0.8s ease-in-out;
}
.transition-appear.transition-appear-active {
  opacity: 1;
  transition: opacity 800ms linear;
}

/* enter */
.transition-enter {
  transform: translate3d(-100%)
}
.transition-enter.transition-enter-active {
  animation: load_in 0.3s linear
}
/* exit */
.transition-exit {
  animation: load_in 0.3s linear
}
.transition-exit.transition-exit-active {
  animation: exit 0.3s linear
}
.transition-exit-done {
  animation: exit 0.3s linear
}