/* appear - on page load */
.transition-appear {
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease-in-out;
}
.transition-appear.transition-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
  transition: opacity 0.4s ease-in-out;
}

/* enter */
.transition-enter {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
}
.transition-enter.transition-enter-active {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

/* exit */
.transition-exit {
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}
.transition-exit.transition-exit-active {
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
    transition: opacity 5000ms linear;
}
.transition-exit-done {
    transition: opacity 0.4s ease-in-out;
  opacity: 0;
}